# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/
/modules/
/material_theme_project_new.xml
/vcs.xml
/render.experimental.xml
/appInsightsSettings.xml
/compiler.xml
/deploymentTargetDropDown.xml
/deploymentTargetSelector.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
/misc.xml
/other.xml
/inspectionProfiles/Project_Default.xml
/runConfigurations.xml
