# Default ignored files
/shelf/
/workspace.xml
/material_theme_project_new.xml
/inspectionProfiles/
appInsightsSettings.xml
assetWizardSettings.xml
compiler.xml
deploymentTargetDropDown.xml
deploymentTargetSelector.xml
gradle.xml
kotlinc.xml
material_theme_project_new.xml
migrations.xml
misc.xml
other.xml
render.experimental.xml
runConfigurations.xml
vcs.xml
workspace.xml
